#addActivityButton {
	margin-bottom: 5px;

}
body {
	margin-top: 5px;
	margin-left: 10px;
}
.dnd-container {
	border: 5px dashed green;
	padding: 2px;
	height: 400px;
	background-color: rgb(245, 240, 240);
}

.dayContainer {
	margin-left: 10px;
}

.bootstrap-timepicker {
	margin-left: 50px;
}